<a href="https://colab.research.google.com/github/DurgaPhaniVikas/DurgaPhaniVikas_INFO5731_-Fall2023/blob/main/Telu_DurgaPhaniVikas_In_class_exercise1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (08/30/2023, 40 points in total)**
This exercise is due tomorrow 08/31/203 11:59 PM.

(1) Write a Python program to calculate the area of a rectangle using user-input length and width.

In [87]:
b= float(input("Enter the breadth of the rectangle \n"))
l= float(input("Enter the length of the rectangle \n"))
area= l*b #taking length and breadth form the user and multiplying them using * to get the area of rectangle
print("The are of the rectangle is \n",area)

Enter the breadth of the rectangle
5
Enter the length of the rectangle
3
The are of the rectangle is
 15.0

(2) Create a program that takes two numbers from the user and swaps their values without using a temporary variable.

In [89]:
a= float(input("Enter the first number \n"))
b= float(input("Enter the second number \n"))
c=a
a=b
b=c # Here we are swaping the values a and b by replacing them with the help of another variable c
print("The swaped values of a and b are \n" ,a,b)

Enter the first number
5
Enter the second number
3
The swaped values of a and b are
 3.0 5.0

(3) Write a Python program to calculate the length of a string.

In [91]:
a= input("Enter the string ton caluculate the length \n")
print(len(a)) #here we are using length function to get the length of the string

Enter the string ton caluculate the length
I am King
9

(4) Write a Python program to count the number of characters in a string.

Sample String : 'google.com‘,

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [96]:
Sample_string= 'google.com'
count_dict={}
for char in Sample_string: #here we are iterating each charecter from the string throgh the loop to get the count of each charecter
    if char in count_dict:
        count_dict[char] += 1
    else:
        count_dict[char] = 1
print(dict(sorted(count_dict.items(), reverse=True)))

{'o': 3, 'm': 1, 'l': 1, 'g': 2, 'e': 1, 'c': 1, '.': 1}

(5) Write a Python program to sum all the items in a list.

In [98]:
sample_list= [1,2,3]
sum_of_items = 0
for item in sample_list: #we are iterating each element from the list through loop to get the sum of elements
    sum_of_items += item
print("Sum of items in the list:", sum_of_items)

Sum of items in the list: 6

(6) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself.

Sample String : 'restart‘,

Expected Result : 'resta\$t'

In [34]:
sample_string = 'restart'
if sample_string:
    first_char = sample_string[0] ## here we are taking the fisrt charecter from the string
    result = first_char + sample_string[1:].replace(first_char, '$')
    ## here we are using replace function to replace all the charecters same as first charecter in the given sample_string
    ##excluding first charecter
    print("Final output string:", result)

Final output string: resta$t

(7) Create a program that calculates the factorial of a number using a while loop.

In [69]:
a = int(input("Enter the number: "))
if a < 0:
    print("Factorial is not possible if the number is negetive")
    # Factorial is not possible if the number is negitive
else:
  fact = 1 #here we are initializing the fact value to 1 to start the factorial
  i = 1
  while i <= a:# here we are using while loop to calculate factorial
    fact *= i
    i += 1
print("The factorial of given number is",fact)

Enter the number: 4
The factorial of given number is 24

(8) Create a program that takes a list of numbers as input and outputs a new list with only the even numbers.

In [4]:
sample_list= [] #taking an empty list to take an input from the user
n = int(input("enter the number of elements:"))# taking the size of the list as the input
for i in range(1,n+1):
  element=int(input("enter the element "))
  sample_list.append(element)#taking an element from the user and appending it to the sample_list
print("The input list is ",sample_list)
even_items = [] #taking an empty list to put the even numbers

for num in sample_list:
    if int(num) % 2 == 0:#checking the element in the list is even or not
        even_items.append(int(num))#appending it to the even_items list

print("Even numbers in the sample_list are:", even_items)

enter the number of elements:5
enter the element 2
enter the element 3
enter the element 6
enter the element 8
enter the element 10
The input list is  [2, 3, 6, 8, 10]
Even numbers in the sample_list are: [2, 6, 8, 10]

(9) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where

$\ S=3.14*(1+a/b)^3$

In [7]:
a= float(input("enter the value of a: "))
b= float(input("enter the value of b: "))
s=3.14*(1+(a/b))**3
print(s)

enter the value of a: 2
enter the value of b: 3
14.537037037037033

(10) Write a Python program to concatenate following dictionaries to create a new one.

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60},

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [24]:
sample_dict1={1:10,2:20}
sample_dict2={3:30,4:40}
sample_dict3={5:50,6:60}# three given sample dictionaries were given
result= {} #taking a result dictionary and using update function to include all the 3 dictionaries
result.update(sample_dict1)
result.update(sample_dict2)
result.update(sample_dict3)
print("Expected result: ",result)

Expected result:  {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(11) Write a Python function that accepts a tuple of integers and returns the largest and smallest elements.

In [99]:
sample_tuple= (1,2,3,4) #sample tuple taken with 4 integers
largest_num=smallest_num=sample_tuple[0] # here we are inigtializing the largest and smallest numbers
for item in sample_tuple: # here we are iterating the items in the tuple through for loop get the smallest and largets numbers
  if item > largest_num:
    largest_num = item
  elif item < smallest_num:
    smallest_num = item
print("Largest number in sample_tuple:", largest_num)
print("Smallest number in sample_tuple:", smallest_num)

Largest number in sample_tuple: 4
Smallest number in sample_tuple: 1

(12) Write a Python program that counts the frequency of each character in a given string and stores it in a dictionary.

In [26]:
sample_string = input("Enter a string: ") #taking a sample input string
count_frequency = {} #creating a dictionary to store the charecter frequency
for char in sample_string: #iteraring each charecter in the string through the for loop
    if char in count_frequency:
        count_frequency[char] += 1
    else:
        # If there is no same charecter found then we are assigning the frequency count to 1
        count_frequency[char] = 1
# Print the character frequencies
print("Character frequencies:")
for char, count in count_frequency.items():
    print(f"'{char}': {count}")

Enter a string: I am Vikas
Character frequencies:
'I': 1
' ': 2
'a': 2
'm': 1
'V': 1
'i': 1
'k': 1
's': 1

(13) Write a Python program to check whether an element exists within a tuple.

In [29]:
sample_tuple= (1,2,3,4)
input_check_element= int(input("Enter an element to check: "))
# Check if the element exists in the tuple
if input_check_element in sample_tuple:
    print("sample tuple consists of the element ",input_check_element)
else:
    print("sample tuple does not consists of the element ",input_check_element)

Enter an element to check: 3
sample tuple consists of the element  3

(14) Write a Python program to find maximum and the minimum value in a set.

In [32]:
sample_set = {1,2,3,4,5} # sample set is taken with some integer values
print("Maximum value in the set:", max(sample_set))
print("Minimum value in the set:", min(sample_set))

Maximum value in the set: 5
Minimum value in the set: 1

(15) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list:
student_list_fall_2023=['sb1826' ,
 'lb0582' ,
 'ab1820' ,
 'sb1883' ,
 'mb1296' ,
 'sc1622' ,
 'tc0469' ,
 'ac1770' ,
 'mc1453' ,
 'ad1187' ,
 'sd0926' ,
 'sd1268' ,
 'ag1609' ,
 'sg1638' ,
 'mg1299' ,
 'vkk0022' ,
 'bk0413' ,
 'gk0257' ,
 'am2807' ,
 'gm0558' ,
 'pm0658' ,
 'am2346' ,
 'rm1090' ,
 'sm2364' ,
 'sm2747' ,
 'sm2343' ,
 'vm0597' ,
 'htn0086' ,
 'sp2075' ,
 'gp0306' ,
 'lp0502' ,
 'sr1508' ,
 'vr0331' ,
 'yr0180' ,
 'as2819' ,
 'ss2981' ,
 'ns0756' ,
 'mt0825' ,
 'dt0463' ,
 'su0137' ,
 'dv0310'
]

In [39]:
import random
student_list_fall_2023=['sb1826' , 'lb0582' , 'ab1820' , 'sb1883' , 'mb1296' , 'sc1622' , 'tc0469' , 'ac1770' , 'mc1453' , 'ad1187' , 'sd0926' , 'sd1268' , 'ag1609' , 'sg1638' , 'mg1299' , 'vkk0022' , 'bk0413' , 'gk0257' , 'am2807' , 'gm0558' , 'pm0658' , 'am2346' , 'rm1090' , 'sm2364' , 'sm2747' , 'sm2343' , 'vm0597' , 'htn0086' , 'sp2075' , 'gp0306' , 'lp0502' , 'sr1508' , 'vr0331' , 'yr0180' , 'as2819' , 'ss2981' , 'ns0756' , 'mt0825' , 'dt0463' , 'su0137' , 'dv0310' ]
random.shuffle(student_list_fall_2023) #randomly shuffles the elements in the list
groups = [] #empty list is created to store the student id's
range_of_group_size = range(4, 7)  # size of group can be 4 to 6 people
while len(student_list_fall_2023) >= min(range_of_group_size):
    size_of_group = random.choice(range_of_group_size)
    group = student_list_fall_2023[:size_of_group]
    groups.append(group)
    student_list_fall_2023 = student_list_fall_2023[size_of_group:]
for group_num, group in enumerate(groups, start=1):
    print(f"Group {group_num}: {group}")

Group 1: ['sr1508', 'tc0469', 'mc1453', 'ad1187', 'as2819']
Group 2: ['ab1820', 'mt0825', 'pm0658', 'ac1770', 'am2346']
Group 3: ['ns0756', 'su0137', 'lp0502', 'htn0086', 'mg1299']
Group 4: ['vkk0022', 'sm2343', 'gk0257', 'bk0413', 'mb1296', 'vm0597']
Group 5: ['sc1622', 'gm0558', 'sp2075', 'lb0582', 'ss2981']
Group 6: ['sd1268', 'vr0331', 'sm2747', 'sb1883', 'am2807']
Group 7: ['sg1638', 'sm2364', 'sd0926', 'dv0310', 'rm1090', 'yr0180']
Group 8: ['ag1609', 'gp0306', 'dt0463', 'sb1826']

(16) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements.

In [112]:
sample_array = [1, 2, 3, 4, 2, 5, 6, 4, 7]
checked_elements = set()
first_duplicate = -1
for num in sample_array: # here we are iterating the items in the lsit through for loop
    if num in checked_elements:
        duplicate_element = num
        break
    checked_elements.add(num)
if duplicate_element != -1: #checking for the duplicate element is there in the sample array or not
    print("First duplicate element is: ",duplicate_element)
else:
    print(-1)

First duplicate element is:  2

(17) Write a Python program to select all the Sundays of a specified year.

In [56]:
from datetime import date, timedelta
year= 2000
first_date=date(year, 1, 1) #taking the first date of the year
day_of_week = first_date.weekday()#finding the day of january 1st
days_until_sunday = 6 - day_of_week
sunday = first_date + timedelta(days=days_until_sunday)#initializing first sunday

# here we are Iterateing through the year by adding 7 days to each Sunday to find next Sundays of whole year
while sunday.year == year:
    print(sunday.strftime("%Y-%m-%d"))
    sunday += timedelta(days=7)

2000-01-02
2000-01-09
2000-01-16
2000-01-23
2000-01-30
2000-02-06
2000-02-13
2000-02-20
2000-02-27
2000-03-05
2000-03-12
2000-03-19
2000-03-26
2000-04-02
2000-04-09
2000-04-16
2000-04-23
2000-04-30
2000-05-07
2000-05-14
2000-05-21
2000-05-28
2000-06-04
2000-06-11
2000-06-18
2000-06-25
2000-07-02
2000-07-09
2000-07-16
2000-07-23
2000-07-30
2000-08-06
2000-08-13
2000-08-20
2000-08-27
2000-09-03
2000-09-10
2000-09-17
2000-09-24
2000-10-01
2000-10-08
2000-10-15
2000-10-22
2000-10-29
2000-11-05
2000-11-12
2000-11-19
2000-11-26
2000-12-03
2000-12-10
2000-12-17
2000-12-24
2000-12-31

(18) Build a program that calculates the factorial of a given positive integer. The factorial of a non-negative integer n is the product of all positive integers less than or equal to n.

In [72]:
a = int(input("Enter the number: "))
if a < 0:
    print("Factorial is not possible if the number is negitive.")
    # Factorial is not possible if the number is negitive
else:
    fact = 1 #here we are initializing the fact value to 1 to start the factorial
    for i in range(1, a+1): # here we are taking a the given number as limit to iterate the loop
      fact = fact * i
print("The factorial of given number is",fact)

Enter the number: 4
The factorial of given number is 24

(19) Write a program that takes a positive integer n as input and prints the count of even numbers from 1 to n. Use a loop to iterate through the numbers and utilize the break statement to optimize the loop.

In [81]:
n = int(input("Enter a positive integer limit: "))
if n <= 0: #checking number is postive
    print("Please enter a positive integer.")
else:
    even_num_count = 0
    for i in range(1, n+1): #passing each number through for loop with n as the limit
        if i % 2 == 0: #checking whther the number is even or not
            even_num_count += 1
        if even_num_count == n // 2:
            break
    print(f"Number of even numbers from 1 to {n} is {even_num_count}")

Enter a positive integer limit: 8
Number of even numbers from 1 to 8 is 4

(20) Write a Python function called count_vowels that takes a string as input and returns the count of vowels (both lowercase and uppercase) present in the string. Consider the vowels to be 'a', 'e', 'i', 'o', and 'u'. Ignore spaces and other non-alphabetic characters.

In [86]:
def count_vowels(inp_string):
    vowels = set("aeiouAEIOU") #used set to initialize the vowels as sets are un-oredrd
    count_of_vowels = 0
    for i in inp_string:
        # here we are checking if the character i is an alphabetic character and a vowel
        if i.isalpha() and i in vowels:
            count_of_vowels += 1   #if the charecter is an vowel then the count is added to count_of_vowels
    return count_of_vowels
inp_string = input("Enter a string: ")#taking the input
result = count_vowels(inp_string)
print("Count of vowels:", result)

Enter a string: vikas
Count of vowels: 2